<h1>Listing locations</h1>

<table>
  <tr>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Address</th>
    <th>Start date</th>
    <th>End date</th>
    <th>Person</th>
    <th>Planner</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @locations.each do |location| %>
  <tr>
    <td><%= location.latitude %></td>
    <td><%= location.longitude %></td>
    <td><%= location.address %></td>
    <td><%= location.start_date %></td>
    <td><%= location.end_date %></td>
    <td><%= location.person_id %></td>
    <td><%= location.planner_id %></td>
    <td><%= link_to 'Show', location %></td>
    <td><%= link_to 'Edit', edit_location_path(location) %></td>
    <td><%= link_to 'Destroy', location, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>